/* ======== menu dropdown ========= */

.menu-wraper .about-us .dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  pointer-events: auto;
  background-color: rgba(20, 20, 20, 0.9);
  display: flex;
  flex-direction: column;
  gap: 30px;
  transition: 0.3s ease;
  padding: 30px 15.5% 50px;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
}

.menu-wraper .about-us:hover .dropdown {
  visibility: visible;
  opacity: 1;
}

.about-us .dropdown h2 {
  color: #fff;
  font-size: 18px;
}

.about-us .menu-item {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.about-us .menu-item .about-card {
  width: 23%;
  background-color: #fff;
}

.about-us .dropdown .menu-item img {
  width: 100%;
  height: 0;
  object-fit: cover;
  transition: 0.3s ease;
}

.about-us:hover .dropdown .menu-item img {
  height: 200px;
}

.about-us .about-card .link {
  display: flex;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
}

.about-us .about-card .link i {
  color: var(--btn-color);
  font-size: 18px;
}

.about-us .about-card .link a {
  font-size: 14px !important;
  font-weight: bold !important;
}

.about-us .about-card .link a:hover {
  background-color: #fff !important;
  color: var(--btn-color) !important;
}

@media (max-width: 1500px) {
  .menu-wraper .about-us .dropdown {
    flex-direction: column;
    gap: 30px;
    padding: 30px 13% 50px;
  }
  .about-us .dropdown h2 {
    font-size: 18px;
  }
  .about-us .menu-item {
    gap: 20px;
  }
  .about-us .menu-item .about-card {
    width: 23%;
  }
  .about-us:hover .dropdown .menu-item img {
    height: 160px;
  }
}

@media (max-width: 1142px) {
  .menu-wraper .about-us .dropdown {
    top: 93%;
  }
}

@media (max-width: 1260px) {
  .menu-wraper .about-us .dropdown {
    flex-direction: column;
    gap: 30px;
    padding: 30px 1% 50px;
  }
  .about-us .dropdown h2 {
    font-size: 18px;
  }
  .about-us .menu-item {
    gap: 10px;
  }
  .about-us .menu-item .about-card {
    width: 24%;
  }
  .about-us:hover .dropdown .menu-item img {
    height: 180px;
  }
  .about-us .about-card .link i {
    font-size: 14px;
  }
  .about-us .about-card .link a {
    font-size: 12px !important;
  }
}

@media (max-width: 990px) {
  .about-us:hover .dropdown .menu-item img {
    height: 150px;
  }
  .about-us .menu-item .about-card {
    width: 30%;
  }
}

@media (max-width: 896px) {
  .menu-wraper .about-us .dropdown {
    top: 68%;
  }
}
